.twopage{
    width: 100%;
    height: 130vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.secone{
    width: 80%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.firstcon{
    width: 100%;
    height: 23vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
}

#sptool{
    height: 50px;
    text-transform: uppercase;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 16px;

}

#findbmw{
    height: 70px;
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
}

.seccon{
    width: 100%;
    height: 73vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
}

.secdata{
    width: 300px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: baseline;
    flex-direction: column;
    gap: 19px;
}

.carone{
    width: 250px;
    height: 80px;
    background-image: url("https://bmw.scene7.com/is/image/BMW/NxW_Home_ICON_STOCK_CAR?wid=1504&hei=542");
    background-size: cover;
    background-position: center;
}

.findcar{
    font-size: 25px;
    font-family: sans-serif;
}

.searchnow{
    width: 120px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    font-size: 18px;
    font-weight: 400;
    border-radius: 3px;
}

.searchnow:hover{
    border: 2px solid black;
    cursor: pointer;
}

.cartwo{
    width: 300px;
    height: 80px;
    background-image: url("https://bmw.scene7.com/is/image/BMW/NxW_Home_ICON_USED_CAR?wid=1504&hei=542");
    background-size: cover;
    background-position: center;
}

.booka{
    font-size: 25px;
    font-family: sans-serif;
}

.req{
    width: 180px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
    font-size: 18px;
    font-weight: 400;
    border-radius: 3px;
    cursor: pointer;
}

.req:hover{
    border: 2px solid black;
}

.carthree{
    width: 300px;
    height: 80px;
    background-image: url("https://bmw.scene7.com/is/image/BMW/NxW_Home_ICON_CON?wid=1504&hei=542");
    background-size: cover;
    background-position: center;
}

.built{
    font-size: 25px;
    font-family: sans-serif;
}

.conf{
    width: 180px;
    height: 50px;
    border: 1px solid black;
    background-color: white;
    font-size: 18px;
    font-weight: 400;
    border-radius: 3px;
    cursor: pointer;
}

.conf:hover{
    border: 2px solid black;
}



.sectwo{
    width: 100%;
    height: 70vh;
    background: url("./Media/obg.jpg");
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.datasectwo{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 10px;
}

#this{
    font-size: 55px;
    font-weight: 100;
    text-transform: uppercase;
    color: white;
}
#seven{
    font-size: 55px;
    color: white;
    text-transform: uppercase;
}

#knowmore{
    width: 300px;
    height: 50px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

#knowmore:hover{
    border: 2px solid white;
    cursor: pointer;
}


.threepage{
    width: 100%;
    height: 63vh;
    display: flex;
    justify-content: space-between;
    background-color: white;

}

.accesories{
    width: 48%;
    height: 100%;
    display: flex;
    align-items: center;
    color: black;
    text-transform: uppercase;
    padding-left: 20px;
}

.electrified{
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    color: black;
    

    gap: 15px;
}

#bmwelectric{
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 85%;
}
#joy{
    font-size: 45px;
    text-transform: uppercase;
    width: 85%;
}

#per{
    font-size: 16px;
    width: 85%;
}

#knowmore2{
    width: 300px;
    height: 50px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

#knowmore2:hover{
    border: 2px solid black;
}
